In [ ]:
import pandas as pd

df = pd.read_csv('benchmarking.csv')
df

                                       image_name  number_of_saigas
0    2025_08_05_PhotoRieboR4_g201b201078_f003_090                70
1    2025_08_05_PhotoRieboR4_g201b201078_f003_091               271
2    2025_08_05_PhotoRieboR4_g201b201078_f003_092                42
3    2025_08_05_PhotoRieboR4_g201b201078_f003_093                62
4    2025_08_05_PhotoRieboR4_g201b201078_f003_094                72
..                                            ...               ...
206  2025_08_05_PhotoRieboR4_g201b201078_f003_296                 0
207  2025_08_05_PhotoRieboR4_g201b201078_f003_297                 0
208  2025_08_05_PhotoRieboR4_g201b201078_f003_298                 0
209  2025_08_05_PhotoRieboR4_g201b201078_f003_299                 9
210  2025_08_05_PhotoRieboR4_g201b201078_f003_300                 2

[211 rows x 2 columns]

In [2]:
df.count()

image_name          211
number_of_saigas    211
dtype: int64

In [3]:
# how to drop rows with value 0 in 'number_of_saigas' column
df_dropped = df[df['number_of_saigas'] != 0]

In [4]:
print("df.count() - ", df_dropped.count())
print("df.sum() - ", df_dropped['number_of_saigas'].sum())

df.count() -  image_name          41
number_of_saigas    41
dtype: int64
df.sum() -  1317

In [ ]:
df.to_json('benchmarking.json', orient='records')